Repository Niconfisk/jogos-site-ifpb, pull requests merged in 2024-11, with the labels that each got.

#24 Adiciona quiz.js
  quiz.js
Labels: backend, JavaScript, high-priority

#25 Adiciona palavras_cruzadas.js
  palavras_cruzadas.js
Labels: enhancement, backend, JavaScript, high-priority

#29 Adiciona paginas html
  memoria.html
  quiz.html
Labels: frontend, HTML, high-priority

#31 Corrige os arquivos para que seja possível testar o codigo como um todo
  assets/ginásio.jpg
  assets/lab.eletricidade eletronica.jpg
  assets/lab.informatica.jpg
  assets/lab.matematica.jpg
  assets/lab.materiais construçao.jpg
  assets/labfisica.jpg
  assets/quiz.jpg
  javascript/memoria.js
  memoria.html
  palavra_cruzada.html
  quiz.html
  static/memoria.css
  static/palavra_cruzada.css
Labels: enhancement, frontend, backend, design, HTML, CSS, JavaScript

#38 Adiciona texto para palavras-cruzadas
  javascript/palavras_cruzadas.js
Labels: resources, narrativa, medium-priority

#41 Adiciona memoria.js refatorado
  javascript/memoria.js
Labels: enhancement, backend, JavaScript, medium-priority

#42 Update quiz.js
  javascript/quiz.js
Labels: enhancement, backend, JavaScript, high-priority

#43 Update memoria.js
  javascript/memoria.js
Labels: resources, narrativa, medium-priority

#44 adiciona efeitos visuais
  static/memoria.css
Labels: frontend, design, CSS, medium-priority
